
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid blueviolet;
    border-bottom: 1px solid blueviolet;
}
li {
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
}
    

